.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}


.image-gallery li {
  flex-basis: 350px;
}

.pics li img {
  object-fit: cover;
  width: 45%;
  height: 40%;
  vertical-align: middle;
  border-radius: 5px;
}

.box-img{
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  justify-content: center;
}

.img-first {
  width: 99%;
  border-radius: 20px 0 0 20px;
  min-height: 100%
}

.col-first {
  display: flex;
  width: 50%;
}

.box-image_first {
  object-fit: cover;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  border-radius: 5px;

}

.box-image_second {
  object-fit: cover;
  width: 45%;

  vertical-align: middle;
  border-radius: 5px;
  margin-left: 1%;
  margin-right: 1%;
}

.img-second {
  width: 100%;
  min-height: 98%;
}

.box-image_third {
  object-fit: cover;
  width: 45%;

  vertical-align: middle;
  border-radius: 5px;
  margin-left: 1%;
  margin-right: 1%;
}

.img-third {
  width: 100%;
  border-radius: 0 20px 0 0;
  min-height: 98%;
}

.box-image_four {
  object-fit: cover;
  width: 45%;
  vertical-align: middle;
  border-radius: 5px;
  margin-left: 1%;
  margin-right: 1%;
}

.img-four {
  width: 100%;
  min-height: 98%;
}

.col-second {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
}

.row-first {
  display: flex;
  width: 100%;
  flex-direction: row;
  height: 230px;
}

.box-image_five {
  object-fit: cover;
  width: 45%;
  vertical-align: middle;
  border-radius: 5px;
  margin-left: 1%;
  margin-right: 1%;
}

.img-five {
  width: 100%;
  min-height: 98%;
  border-radius: 0 0 20px 0;
}

@media (max-width: 885px) {
  .box-img {
    flex-direction: column;
  }

  .col-first, .col-second {
    width: 90%;
  }

  .img-first {
    border-radius: 10px;
  }

  .box-image_second, .box-image_third, .box-image_four, .box-image_five {
    width: 47%;
  }

  .img-second, .img-third, .img-four, .img-five {
    border-radius: 10px;
  }
  .box-data_prop{
    flex-direction: column !important;
  }
  .contact-sticky{
    width: 90%  !important;
    height: 100%!important;
    margin-left: 0 !important;
    padding: 30px!important;
  }
  .offer-data{
    width: 95% !important;
  }
}