.box-image {
    height: 222px;
    width: 45%;
    border: 2px dotted;
    border-color: #EA1A1A;
    border-radius: 10px;
    margin-right: 30px;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
    cursor: pointer;
    margin-top: 40px;
}

.upload__image-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.box-image_preview {
    height: 260px;
    width: 180px;
    margin-right: 30px;
    border-radius: 10px;
    margin-top: 40px;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    cursor: pointer;

}

.img-property-preview {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    z-index: 1;
}

.advise-style {
    height: 200px;
    width: 280px;
    margin-top: 40px;
    padding: 20px;

}

.box-image_2 {
    height: 222px;
    width: 36%;
    border: 2px dotted;
    border-color: #EA1A1A;
    border-radius: 10px;
    margin-top: 40px;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
    cursor: pointer;
    margin-right: 30px;
}

.button-remove {
    width: 70px;
    height: 45px;
    border-radius: 45px;
    border-color: #EA1A1A;
    opacity: 65%;
    margin-top: 180px;
    cursor: pointer;
}
.button-remove:hover{
    border-color: 10px #EA1A1A;
}

.image-remove_item {
    z-index: 10;
}